In [230]:
##import csv file and pandas
import os
import pandas as pd

In [231]:
## import file path for csv file
purchasedata_path = os.path.join(os.getcwd(), 'Resources', 'purchase_data.csv')

In [232]:
purchasedata_path

'C:\\Users\\vaab2\\Desktop\\my_python_script\\Resources\\purchase_data.csv'

In [233]:
purchasedata_df = pd.read_csv(purchasedata_path)

In [234]:
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
### Player Count

In [235]:
##player count/ total number of players
total_players = len(purchasedata_df["SN"].unique())

In [236]:
total_players

576

In [237]:
raw_data = {
    'total_players':[576]
}

In [238]:
input1_df = pd.DataFrame(raw_data)

In [239]:
input1_df

   total_players
0            576

In [ ]:
###Purchasing analysis/ total

In [516]:
## number of unique items
unique_items = len(purchasedata_df["Item Name"].unique())

In [517]:
unique_items

179

In [518]:
## average purchase price
average_price = purchasedata_df["Price"].mean()

In [519]:
average_price

3.050987179487176

In [520]:
### total number of purchases
total_purchase = purchasedata_df["Purchase ID"].count()

In [521]:
total_purchase

780

In [522]:
### total revenue
total_revenue = purchasedata_df["Price"].sum()

In [523]:
total_revenue

2379.77

In [528]:
input2_df = pd.DataFrame([{
    "Number of Unique Items": unique_items, 
    "Average Price": average_price,
    "Number of Purchases": total_purchase,
    "Total Revenue": total_revenue,
}], columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

input2_df["Average Price"] = input2_df["Average Price"].map("${0:.2f}".format)

In [529]:
input2_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [252]:
### Gender demographics

In [253]:
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [254]:
##count of male players
malesonly = purchasedata_df.loc[purchasedata_df["Gender"] == "Male"]

In [255]:
malesonly

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [256]:
males_only = len(malesonly["SN"].unique())

In [257]:
males_only

484

In [258]:
## percentage of male players
percent_male = "{:.2f}%".format(males_only / total_players * 100)

In [259]:
percent_male

'84.03%'

In [260]:
##count of female players
femalesonly = purchasedata_df.loc[purchasedata_df["Gender"] == "Female"]

In [261]:
femalesonly

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [262]:
females_only = len(femalesonly["SN"].unique())

In [263]:
females_only

81

In [264]:
## percentage of female players
percent_female = "{:.2f}%".format(females_only / total_players * 100)

In [265]:
percent_female

'14.06%'

In [266]:
## count other/non-disclosed
othernondisclosed = purchasedata_df.loc[purchasedata_df["Gender"] == "Other / Non-Disclosed"]

In [267]:
othernondisclosed

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [268]:
other_nondisclosed = len(othernondisclosed["SN"].unique())

In [269]:
other_nondisclosed

11

In [270]:
##percent of other non-dislosed players
percent_other = "{:.2f}%".format(other_nondisclosed / total_players * 100)

In [271]:
percent_other

'1.91%'

In [440]:
input3_df = pd.DataFrame([{
    "Gender": "Male", "Total Count": males_only,
    "Percentage of Players": percent_male}, 
    {"Gender": "Female", "Total Count": females_only,
    "Percentage of Players": percent_female}, 
    {"Gender": "Other / Non-Disclosed", "Total Count": other_nondisclosed,
    "Percentage of Players": percent_other
    }], columns=["Gender", "Total Count", "Percentage of Players"])
input3_df = input3_df.set_index("Gender")
input3_df.index.name = None

In [441]:
input3_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [273]:
### Purchasing analysis (Gender)

In [274]:
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [275]:
##purchase count of male players
purchasecount_df = pd.DataFrame(purchasedata_df, columns=['Gender'])

In [276]:
purchasecount_df.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

In [277]:
malescount_df = purchasecount_df.loc[purchasecount_df["Gender"] == "Male"]

In [278]:
malescount_df.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

In [279]:
malescount_df.count()

Gender    652
dtype: int64

In [313]:
## average purchase price
average_price = round(purchasedata_df.groupby("Gender")["Price"].mean(), 2)

In [314]:
average_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [305]:
## total number of purchase value
total_purchases_df = purchasedata_df.groupby("Gender")["Price"].sum()

In [306]:
total_purchases_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [321]:
##average purchase per person by Gender
total_value_df = round(total_purchases_df/purchasedata_df.groupby("Gender")["Item Name"].count(),2)

In [322]:
total_value_df

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [371]:
## average purchase price males
male_average_price = purchasedata_df.loc[purchasedata_df["Gender"] == "Male", ["Price"]].mean()

In [372]:
male_average_price

Price    3.017853
dtype: float64

In [373]:
## total purchase value males
male_totalpurchase = purchasedata_df.loc[purchasedata_df["Gender"] == "Male", ["Price"]].sum()

In [374]:
male_totalpurchase

Price    1967.64
dtype: float64

In [375]:
## average purchase total person of male players
average_person_per_male = male_totalpurchase/males_only

In [376]:
average_person_per_male

Price    4.065372
dtype: float64

In [95]:
## count of female
femalesonly_df = genderdemographic_df.loc[genderdemographic_df["Gender"] == "Female"]

In [100]:
femalesonly_df.head()

    Gender
15  Female
18  Female
38  Female
41  Female
55  Female

In [96]:
femalesonly_df.count()

Gender    113
dtype: int64

In [377]:
## average purchase price females
female_average_price = purchasedata_df.loc[purchasedata_df["Gender"] == "Female", ["Price"]].mean()

In [378]:
female_average_price

Price    3.203009
dtype: float64

In [379]:
## total purchase value females
female_totalpurchase = purchasedata_df.loc[purchasedata_df["Gender"] == "Female", ["Price"]].sum()

In [380]:
female_totalpurchase

Price    361.94
dtype: float64

In [381]:
## average purchase total person of female players
average_person_per_female = female_totalpurchase/females_only

In [382]:
average_person_per_female

Price    4.468395
dtype: float64

In [355]:
## count other/non-disclosed
other_nondisclosed_df = genderdemographic_df.loc[genderdemographic_df["Gender"] == "Other / Non-Disclosed"]

In [356]:
other_nondisclosed_df.head()

                    Gender
9    Other / Non-Disclosed
22   Other / Non-Disclosed
82   Other / Non-Disclosed
111  Other / Non-Disclosed
228  Other / Non-Disclosed

In [357]:
other_nondisclosed_df.count()

Gender    15
dtype: int64

In [383]:
## average purchase price other/ non-disclosed
other_average_price = purchasedata_df.loc[purchasedata_df["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()

In [384]:
other_average_price

Price    3.346
dtype: float64

In [385]:
## total purchase value other/ non-disclosed
other_totalpurchase = purchasedata_df.loc[purchasedata_df["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

In [386]:
other_totalpurchase

Price    50.19
dtype: float64

In [390]:
## average purchase total person of other/ non-disclosed players
average_person_per_other = other_totalpurchase/other_nondisclosed

In [391]:
average_person_per_other

Price    4.562727
dtype: float64

In [438]:
input4_df = pd.DataFrame([{
    "Gender": "Female", "Purchase Count": femalesonly_df.count(), 
    "Average Purchase Price": "${:.2f}".format(female_average_price[0]), 
    "Total Purchase Value": "${:.2f}".format(female_totalpurchase[0]), 
    "Avg Total Purchase per Person": "${:.2f}".format(average_person_per_female[0])}, 
    {"Gender": "Male", "Purchase Count": malesonly_df.count(), 
     "Average Purchase Price": "${:.2f}".format(male_average_price[0]), 
     "Total Purchase Value": "${:.2f}".format(male_totalpurchase[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(average_person_per_male[0])}, 
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_nondisclosed_df.count(), 
     "Average Purchase Price": "${:.2f}".format(other_average_price[0]), 
     "Total Purchase Value": "${:.2f}".format(other_totalpurchase[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(average_person_per_other[0])
    }], columns=["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

input4_df = input4_df.set_index("Gender")
input4_df.index.name = None

In [439]:
input4_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,Gender 113 dtype: int64,$3.20,$361.94,$4.47
Male,Gender 652 dtype: int64,$3.02,$1967.64,$4.07
Other / Non-Disclosed,Gender 15 dtype: int64,$3.35,$50.19,$4.56

In [393]:
### Age Demographics

In [398]:
## purchase count
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [399]:
purchasedata_df["Age Group"] = pd.cut(purchasedata_df["Age"], bins=bins, labels=age_groups)

In [401]:
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [402]:
age_group_df = purchasedata_df.groupby("Age Group")

In [406]:
age_group_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

In [423]:
## purchase count by age
purchase_count_byage = age_group_df["SN"].count()

In [424]:
purchase_count_byage

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [425]:
## average purchase count by age group
average_purchase_byage = round(age_group_df["Price"].mean(),2)

In [426]:
average_purchase_byage

<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [427]:
## total purchase value per age group
total_purchase_byage = round(age_group_df["Price"].sum(),2)

In [428]:
total_purchase_byage

<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [431]:
## total purchase value per age group
total_age_count = age_group_df["SN"].nunique()

In [432]:
total_age_count

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [429]:
## average purchase total person by age group
average_purchase_perperson_byage = round(total_purchase_byage / total_age_count,2)

In [430]:
average_purchase_perperson_byage

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [414]:
## percent purchase by age groups
percentage_byage = round(total_age_count / total_players * 100,2)

In [415]:
percentage_byage

Age Group
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [436]:
input5_df = pd.DataFrame({
   "Total Count": total_age_count, 
   "Percentage of Players": percentage_byage
})

input5_df["Percentage of Players"] = input5_df["Percentage of Players"].map("{0:,.2f}%".format)
input5_df.index.name = None

In [437]:
input5_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [434]:
input6_df = pd.DataFrame({
    "Purchase Count": purchase_count_byage, 
    "Average Purchase Price": average_purchase_byage,
    "Total Purchase Value": total_purchase_byage,
    "Avg Total Purchase per Person": average_purchase_perperson_byage
})

input6_df["Average Purchase Price"] = input6_df["Average Purchase Price"].map("${0:,.2f}".format)
input6_df["Total Purchase Value"] = input6_df["Total Purchase Value"].map("${0:,.2f}".format)
input6_df["Avg Total Purchase per Person"] = input6_df["Avg Total Purchase per Person"].map("${0:,.2f}".format)

In [435]:
input6_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [442]:
### Top Spenders

In [443]:
## top 5 spenders by SN
top_spenders_df = purchasedata_df.groupby("SN")

In [446]:
top_spenders_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [447]:
## purchase count for top 5 spenders
top_spenders_purchases = top_spenders_df["Purchase ID"].count()

In [450]:
top_spenders_purchases.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [451]:
## average purchase price of top spenders
top_spenders_averages = round(top_spenders_df["Price"].mean(),2)

In [453]:
top_spenders_averages.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [454]:
## total value of top 5 spenders
top_spenders_total = top_spenders_df["Price"].sum()

In [455]:
top_spenders_total.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [456]:
input7_df = pd.DataFrame({ 
    "Purchase Count": top_spenders_purchases,
    "Average Purchase Price": top_spenders_averages,
    "Total Purchase Value": top_spenders_total
})

sort_top_spenders_df = input7_df.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top_spenders_df["Average Purchase Price"] = sort_top_spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sort_top_spenders_df["Total Purchase Value"] = sort_top_spenders_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sort_top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [457]:
### Most Popular Items

In [458]:
## 5 most popular items by item ID
popular_items_df = purchasedata_df[["Item ID", "Item Name", "Price"]]

In [459]:
popular_items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [473]:
popular_items = popular_items_df.groupby(["Item ID", "Item Name"])

In [474]:
popular_items.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [475]:
popular_items_id = popular_items_df["Item ID"].unique()

In [476]:
popular_items_id

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104], dtype=int64)

In [477]:
## 5 most popular items by item name
popular_items_name = popular_items_df["Item Name"].unique

In [478]:
popular_items_name

<bound method Series.unique of 0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
775                                         Wolf
776                             Exiled Doomblade
777        Celeste, Incarnation of the Corrupted
778                                 Final Critic
779                                         Dawn
Name: Item Name, Length: 780, dtype: object>

In [479]:
## purchase count of 5 most popular items
popular_items_count = popular_items["Price"].count()

In [481]:
popular_items_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [483]:
## 5 most popular item price
popular_item_price = popular_items["Price"].sum()

In [484]:
popular_item_price.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [486]:
## total value price of 5 most popular items
popular_item_total = popular_item_price/ popular_items_count

In [488]:
popular_item_total.head()

Item ID  Item Name
0        Splinter              1.2800
1        Crucifer              2.9425
2        Verdict               2.4800
3        Phantomlight          2.4900
4        Bloodlord's Fetish    1.7000
Name: Price, dtype: float64

In [491]:
input8_df = pd.DataFrame({
   "Purchase Count": popular_items_count, 
   "Item Price": popular_item_total,
   "Total Purchase Value": popular_item_price
})

popular_items_formatted = input8_df.sort_values(["Purchase Count"], ascending=False).head()
popular_items_formatted["Item Price"] = popular_items_formatted["Item Price"].astype(float).map("${:,.2f}".format)
popular_items_formatted["Total Purchase Value"] = popular_items_formatted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [492]:
### Most Profitable Items

In [493]:
## 5 most profitable items by item ID
profitable_items_df = purchasedata_df[["Item ID", "Item Name", "Price"]]

In [494]:
profitable_items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [495]:
profitable_items = popular_items_df.groupby(["Item ID", "Item Name"])

In [496]:
profitable_items.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [497]:
profitable_items_id = popular_items_df["Item ID"].unique()

In [499]:
profitable_items_id

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104], dtype=int64)

In [500]:
## 5 most profitable items by item name
profitable_items_name = popular_items_df["Item Name"].unique

In [501]:
profitable_items_name

<bound method Series.unique of 0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
775                                         Wolf
776                             Exiled Doomblade
777        Celeste, Incarnation of the Corrupted
778                                 Final Critic
779                                         Dawn
Name: Item Name, Length: 780, dtype: object>

In [502]:
## purchase count of 5 most profitable items
profitable_items_count = profitable_items["Price"].count()

In [503]:
profitable_items_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              4
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [504]:
## 5 most profitable item price
profitable_item_price = profitable_items["Price"].sum()

In [505]:
profitable_item_price.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [506]:
## total value price of 5 most profitable items
profitable_item_total = profitable_item_price/ profitable_items_count

In [507]:
profitable_item_total.head()

Item ID  Item Name
0        Splinter              1.2800
1        Crucifer              2.9425
2        Verdict               2.4800
3        Phantomlight          2.4900
4        Bloodlord's Fetish    1.7000
Name: Price, dtype: float64

In [509]:
input9_df = pd.DataFrame({
   "Purchase Count": profitable_items_count, 
   "Item Price": profitable_item_total,
   "Total Purchase Value": profitable_item_price
})

popular_items_formatted = input9_df.sort_values(["Purchase Count"], ascending=False).head()
popular_items_formatted["Item Price"] = popular_items_formatted["Item Price"].astype(float).map("${:,.2f}".format)
popular_items_formatted["Total Purchase Value"] = popular_items_formatted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [ ]:
### Observable trends
# Based on the data trend
# 1) Final Critic was the most popular and profitable item followed by Oathbreaker, Last Hope of the Breaking Storm
# 2) The age group of 20-24 made up the majority of players and made the most purchases
# 3) Though male players made up the majority of the players, items purchases by female players and other / non-disclosed cost more than those made by male players